@use "../../styles/constants.module.scss" as constants;
@use "../../styles/functions.module.scss" as functions;
@use "../../styles/mixin.module.scss" as mixin;

.nav {
  .nav-menu {
    display: flex;
    justify-content: center;
    column-gap: functions.rem(70);
  }
}
